body{
    background: #9CECFB;
    background: -webkit-linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    background: linear-gradient(to right, #0052D4, #65C7F7, #9CECFB);
    font-family: "Merriweather Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: aliceblue;
    border-radius: 35px;
    text-align: center;
    padding: 3rem;
    height: 50%;
    width: 60%;
    max-width: 30rem;
}
#new-to-do{
    padding: 1rem;    
    width: 40rem;
    background-color: aliceblue;
    border-radius: 0.5rem;
}
#new-to-do::placeholder{
    color: grey;
    font-size: 1rem;
}

#add-btn{
    background-color: #2d70fd;
    color: white;
    height: 2rem;
    width: 4rem;
    margin: 10px;
    border: none;
    border-radius: 0.5rem;
    position: absolute;
    right: 0.5rem;
    bottom: 0.01rem;
    cursor: pointer;
}
ul{
    overflow-y:scroll;
    height: 10rem;
}
input[type="checkbox"]:checked{
    accent-color: green;
}
.bottom{
    display: flex;
    justify-content: space-between;
}
li{
    display: flex;
    /* flex-direction: column; */
    gap: 1.2rem;
    padding: 0.6rem;
    font-weight: 10px;
    text-align: center;
}
.add{
    position: relative;
    display: flex;  
}
#del-btn{
    border-radius: 0.5rem;
    border: none;
    font-weight: 500;
    padding: 0.1rem 0.5rem;
    margin-top: 0.5rem;
    height: 2rem;
    background-color: rgb(254, 35, 100);
    cursor: pointer;
    color: white;
}
